.about {
    padding: 1rem 0.5rem;
    max-width: 1000px;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 50px;
        padding-bottom: 1rem;
        color: #190482
    }

    h2 {
        margin-top: 1rem;
        color: #7752FE;
    }

    .quote {
        font-size: 1.8rem;
        font-weight: 700;
        margin: 1rem auto;
        text-align: left;
        word-spacing: 5px;
        letter-spacing: 2px;
        line-height: 1.4;
    }

    .about-director {
        margin-top: 1rem;
    }

    p {
        font-size: 1.1rem;
        word-spacing: 5px;
        letter-spacing: 1px;
        line-height: 1.7;
    }
}