.Contact {
    height: 100vh;
    background-color: chocolate;
    max-width: 1336px;
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;

    h1 {
        text-align: center;
        font-size: 50px;
    }

    .icons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 13rem;
        width: 20rem;
        display: flex;
        row-gap: 1rem;
        column-gap: 1.5rem;
        padding: 10px;
        flex-wrap: wrap;

        svg {
            height: 5rem;
            width: 5rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                fill: cornflowerblue;
            }
        }


    }
    
}